/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #0e1528;

  /*
    #0E1525;
   #2B3245;
background: rgb(0, 0, 75) !important; */
  /*
background: radial-gradient( circle, rgba(32, 71, 179, 1) 15%, rgba(13, 0, 11,
1) 100% ); */
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-btn {
  background-color: transparent;
  width: 100%;
  border: 1px solid blue;
  margin: 0 auto;
  display: block;
  color: white;
  transition: all 0.5s ease;
  padding: 5px 10px;
}
.nav-btn:hover {
  background-color: white !important;
  color: rgb(0, 0, 75) !important;
  width: fit-content;
  border-radius: 5px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
}
.box1 {
  padding: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /* position: relative; */
  color: white;
}
.box1 div {
  width: 22%;
  box-shadow: 2px 2px 3px blue;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: #1a2238 !important;

  padding: 10px;
}
.box2 {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative !important;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  color: white;
  background-color: #1a2238;
  box-shadow: 2px 2px 3px blue;
}

/* .box2::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.box2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.box2::-webkit-scrollbar-thumb {
  background: #1a2238;
  border: 1px solid white;
}
*/

/* Handle on hover */
.box2::-webkit-scrollbar-thumb:hover {
  background: #1a2238;
}
.box2 .tblReg {
  position: absolute;
}
.box3 {
  box-shadow: 2px 2px 3px blue;
  border-radius: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  color: white;
  padding: 5px;
  background-color: #1a2238;
}

.styled-table {
  border: 0;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.9em;
  font-family: sans-serif;
  position: absolute !important;
}

.styled-table thead {
  color: white;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid white;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: rgb(15, 23, 36);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.styled-table thead th {
  padding: 5px;
}
.styled-table tbody td {
  padding: 15px 5px;
  color: aliceblue;
}
.Title {
  justify-self: center;
  background-color: transparent !important;
  color: white;
  border-width: 2px;
  font-size: 22pt;
}
.infotxt {
  justify-self: center;
  background-color: black !important;
  color: white;
  border-width: 2px;
  font-size: 12pt;
}

.standard-select {
  background-color: transparent !important;
  color: white !important;
  border-radius: 3px;
}
.standard-select option {
  background-color: #0e1528 !important;
  color: white !important;
  border-radius: 10px !important;
}
.standard-select1 {
  background-color: transparent !important;
  color: white !important;
  border-radius: 3px;
}
.standard-select1 option {
  background-color: #0e1528 !important;
  color: white !important;
  border-radius: 10px !important;
}
.outer-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: minmax(50vw, 1fr);
  grid-template-rows: minmax(10vh, 1fr);
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2238;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e1528;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
@media (max-width: 810px) {
  .box1 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* position: relative; */
    color: white;
  }
  .box1 h3 {
    font-size: smaller;
  }
  .box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    color: white;
  }

  .box1 div {
    width: auto;
    display: flex;
    font-size: smaller;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;

    margin-bottom: 10%;
  }

  .box2 {
    padding: 10px;
    padding-top: -100px !important;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    color: white;
  }
  .box2 div {
    margin-top: -10%;
  }
  * {
    font-size: small;
  }
  .styled-table tbody td {
    padding: 5px;
    color: aliceblue;
  }
  .standard-select {
    background-color: transparent !important;
    color: white !important;
    border-radius: 3px;
    width: 80px !important;
  }
  .standard-select option {
    color: white !important;
    border-radius: 10px !important;
  }
  .standard-select1 {
    background-color: transparent !important;
    color: white !important;
    border-radius: 3px;
    width: 80px !important;
  }
  .standard-select1 option {
    color: white !important;
    border-radius: 10px !important;
  }
}
