@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e1528 !important;
}
#editor * {
  font-family: monospace !important;
  direction: ltr !important;
  text-align: left !important;
}
#contextMenu {
  position: absolute;
  display: none;
}

#prettier {
  position: relative;
}
.container__left {
  /* Initially, the left takes 3/4 width */
  flex: 1;
  /* Misc */
  display: flex;
}
.dropdown-menu ul li:hover {
  color: black !important;
}

.container__right {
  width: 15%;
  display: flex;
}
.resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
  margin-left: -5px;
}
#explorer {
  background-color: "#fff";
  height: 605px;
}

.navbar-nav {
  position: relative;
  margin-left: auto;
}

.navbar-bottom {
  white-space: nowrap;
}
.basic-btn {
  background-color: transparent;
  color: white !important;
  border: 0px;
  padding-top: 5px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btn-section {
  flex-direction: row;
  position: static;
  width: min-content;
  text-align: start;
  border: 1px solid #cbd5e0;
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  padding: 5px;
  margin-right: 5px;
}
.btn-section button:hover {
  transform: scale(1.1);
}

span {
  font-size: large;
  background-color: transparent !important;
}

span:hover {
  font-size: larger;
  color: black;
}
span.fancytree-title {
  color: white !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.fancytree-custom-icon {
  color: white !important;
}

.fancytree-title::after {
  color: white !important;
}
ul.fancytree-container {
  background-color: #0e1528 !important;
  border: none !important;
}

#prettier:hover,
#terminal-btn:hover,
#dropdownMenuButton1:hover,
#save-file-btn:hover,
#create-file:hover,
#refresh-explorer:hover {
  font-size: larger;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2238;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e1528;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
