/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
} /* }
#0E1525;
#2B3245; */
body {
  min-height: 100vh;
  background-color: #0e1528;

  /*
background: rgb(0, 0, 75) !important; */
  /*
background: radial-gradient( circle, rgba(32, 71, 179, 1) 15%, rgba(13, 0, 11,
1) 100% ); */
}
.sp {
  display: flex;
  justify-content: end;
}
table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}
td {
  padding: 8px 8px;
  border: 0;
}
table {
  border: 1px solid blue;
}
table td {
  border: 1px solid blue; /* Style just to show the table cell boundaries */
}
th {
  padding: 10px;
  color: white;
}

table.no-spacing {
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}
.outer {
  background-color: transparent;
  box-shadow: transparent !important;
}
button.viewbtn:hover {
  border-radius: 10px;
  background-color: blue;
  transition: 1s all;
}
button.viewbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 30px 50px;
}
