/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-color: black;
  /*
background: rgb(0, 0, 75) !important; */
  /*
background: radial-gradient( circle, rgba(32, 71, 179, 1) 15%, rgba(13, 0, 11,
1) 100% ); */
}

.outer-grid {
  display: grid;
  grid-template-columns: minmax(50vw, 1fr);
  grid-template-rows: minmax(50vh, 1fr);
  align-items: center;
  justify-content: center;
}
.outer-grid > div {
  background-color: black;
  color: white;
  padding: 8px;
}

.inner-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  margin: 20px;
}

td {
  border: 2px solid rgb(0, 0, 75);

  height: 200px;
  margin: 15px;
  height: min-content !important;
  border-radius: 20px;
  background: black;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.datah-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 50px;
  text-align: center;
}
.data-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.box1 {
  padding: 5px;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  background-color: rgb(0, 0, 75);
}
.box1 div {
  border-radius: 10px;
  height: 20%;
  background-color: rgb(0, 0, 75);
  padding: 10px;
}
.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 75);
}
.box2 div {
  border-radius: 10px;
  height: 20%;
  background-color: rgb(0, 0, 75);
  padding: 10px;
}
.box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 75);
}
.box3 div {
  border-radius: 10px;
  height: 20%;
  background-color: rgb(0, 0, 75);
  padding: 10px;
}
.box4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 75);
}
.box4 div {
  border-radius: 10px;
  height: 20%;
  background-color: rgb(0, 0, 75);
  padding: 10px;
}
.box5 {
  padding: 5px;
  border-radius: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 2px solid black;
  color: white;
  background-color: rgb(0, 0, 75);
}
.box5 div {
  border-radius: 10px;
  height: 20%;
  padding: 10px;
}
h3 {
  font-size: large !important;
}
