/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* background: rgb(0, 0, 75) !important; */
  background-color: #0e1528 !important;

  /* background: radial-gradient(
    circle,
    rgba(32, 71, 179, 1) 15%,
    rgba(13, 0, 11, 1) 100%
  ); */
}

body .myform {
  justify-content: center !important;
  align-items: center !important;
  padding-top: 70px;
}
.container {
  position: relative;
  max-width: 850px;
  height: auto;
  width: auto;
  box-shadow: 2px 2px 3px blue;
  background: #1a2238 !important;
  padding-top: 15px;
  perspective: 2700px;
  border-radius: 30px !important;
  min-height: 72vh;
}

.container .cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 98;
  left: 5;
}

.container .cover img {
  position: absolute;
  text-align: center;
  height: 90%;
  width: 100%;
  object-fit: contain;
  padding-top: 50px;
}
.forms .form-content .login-form {
  position: absolute;
  height: 50%;
  width: 50%;
  right: 0;
  padding-left: 100px;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.forms .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: rgb(32, 71, 179);
}
.forms .signup-form .title:before {
  width: 20px;
}
.forms .form-content .input-boxes {
  margin-top: 30px;
}
.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

input {
  background: #1a2238 !important;
  color: white !important;
  border-radius: 10px;
  width: 60% !important;
  border: 1px solid grey;
}
input ::after {
  background-color: black !important;
  color: white !important;
}
input ::selection {
  background-color: black !important;
  color: white !important;
}

.input-box textarea::placeholder {
  text-align: start;
  padding-top: 10px;
}
.input-box i {
  margin: 10px;
}
.text a {
  color: rgb(250, 250, 250);
}
.navbar {
  background-color: #0e1528 !important;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.form-content .input-box textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: rgb(32, 71, 179);
  border: 2px solid rgb(32, 71, 179);
}
.form-content .input-box i {
  position: absolute;
  color: white;
  font-size: 17px;
}
.text {
  font-size: 14px;
  font-weight: 500;
  color: white !important;
}
.forms .form-content .text a {
  text-decoration: none;
}
.forms .form-content .text a:hover {
  text-decoration: underline;
}

.btn {
  height: 100%;
  width: 60%;
  border-radius: 10px !important;
  border: 2px solid rgb(0, 0, 75) !important;
  font-size: 16px;
  font-weight: 500;
  background-color: blue !important;
  color: white !important;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-top: 5px !important;
}

.btn:hover {
  color: rgb(0, 0, 75) !important;
  background-color: rgb(248, 248, 248) !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2238;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e1528;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }
  body .myform {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
  }
  .container {
    background-color: transparent !important;
    height: 110vh;
  }
  .container .form-content .login-form {
    width: 100%;
  }
  .container .form-content .login-form input {
    width: 80% !important;
  }
  .container .form-content .login-form textarea {
    width: 80% !important;
  }
  .btn {
    width: 80% !important;
  }
  .select select {
    width: 80% !important;
  }
  .form-check {
    width: 80% !important;
  }
}
