@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0e1528;
  min-height: 100vh;
}
.item {
  height: 240px !important;
  max-height: 240px !important;
  width: 340px !important;
  background-color: #1a2238;
  overflow: auto !important;
  color: white;
  border-radius: 10px;
  border: 1px white;
  box-shadow: 2px 2px 3px blue;
  margin-bottom: 40px !important;
  padding: 10px;
  margin: 0px 10px;
  align-items: center;
}

.container {
  text-align: center;
  height: fit-content;
  display: grid;
  grid-gap: 2rem;
  padding-top: 25px;
}

ul {
  list-style-type: none;
}
.name {
  overflow: auto;
  width: 50%;
  margin: 10px auto;
  font-style: italic;
}
.desc {
  font-size: smaller;
  display: flex;
  text-align: justify;
  margin: 5px;
  padding-top: 10px;
  height: 70px !important;
  max-height: 70px !important;
  overflow: auto !important;
}
span {
  padding: 0px 10px;
  border-radius: 5px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2238;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e1528;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
.btn {
  background-color: white;
  color: #1a2238;
  font-size: small;
  size: 2in;
  box-shadow: 2px 2px 3px blue;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}

.wrapper {
  display: grid !important;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 200px;
  border-radius: 10px;
  padding-left: 50px;
}
.box1 {
  padding-left: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
}
.box1 .image {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 125px;
}
.userinfo {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  text-align: justify;
}
#tblReg1 {
  box-shadow: 2px 2px 3px blue;
  height: max-content;
  text-align: center;
  width: auto;
  padding: 10px;
}
.box2 {
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
}
@media (max-width: 810px) {
  .container {
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    grid-gap: 1rem;
    padding: 15px;
  }
}
